{% extends 'layouts/app.html' %}
{% load static %}

{% block content %}

{% include 'layouts/slider.html' %}

<div class="main">
    <section class="module bg-dark" id="about">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <h2 class="module-title font-alt">Feito para você</h2>
            <div class="module-subtitle font-serif large-text">Nós temos padrões.</div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2 col-sm-offset-5">
            <div class="large-text align-center">
                <a class="section-scroll" href="#services"><i class="fa fa-angle-down"></i></a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <hr class="divider-w">
    <section class="module bg" id="services">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <h2 class="module-title font-alt">Nossos serviços</h2>
            <div class="module-subtitle font-serif">Uma serenidade admirável tomou conta de toda a minha alma, como estas doces manhãs de primavera que desfruto com todo o coração.</div>
          </div>
        </div>
        <div class="row multi-columns-row">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="features-item">
              <div class="features-icon"><span class="icon-lightbulb"></span></div>
              <h3 class="features-title font-alt">Ideias e conceitos</h3>
              <p>A atenção cuidadosa aos detalhes e o design limpo e bem estruturado garantem uma experiência de usuário tranquila para todos os seus visitantes.</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="features-item">
              <div class="features-icon"><span class="icon-bike"></span></div>
              <h3 class="features-title font-alt">Otimizado para velocidade</h3>
              <p>No mundo acelerado de hoje, otimizar a velocidade no design de interiores tornou-se cada vez mais importante.</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="features-item">
              <div class="features-icon"><span class="icon-tools"></span></div>
              <h3 class="features-title font-alt">Designs &amp; interfaces</h3>
              <p>Trabalhando em harmonia, design e interface podem influenciar muito a experiência do usuário e impactar o sucesso geral do produto.</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="features-item">
              <div class="features-icon"><span class="icon-gears"></span></div>
              <h3 class="features-title font-alt">Highly customizable</h3>
              <p>Um produto ou serviço altamente personalizável tem o poder de transformar uma experiência comum em uma jornada personalizada, deixando uma impressão duradoura no consumidor.</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="features-item">
              <div class="features-icon"><span class="icon-tools-2"></span></div>
              <h3 class="features-title font-alt">consultora</h3>
              <p>Por trás de cada negócio de sucesso, existe nossa equipe de consultores especializados que fornecem orientação inestimável e insights estratégicos para ajudar a impulsionar o crescimento e navegar no cenário em constante mudança do mundo dos negócios.</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="features-item">
              <div class="features-icon"><span class="icon-genius"></span></div>
              <h3 class="features-title font-alt">Recursos e plugins</h3>
              <p>Os recursos e plug-ins certos podem levar um bom projeto e elevá-lo à grandeza, aprimorando sua funcionalidade, promovendo a criatividade e criando uma experiência de usuário verdadeiramente única.</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="features-item">
              <div class="features-icon"><span class="icon-mobile"></span></div>
              <h3 class="features-title font-alt">design fantástico</h3>
              <p>Design não é apenas o que parece e o que se sente. Design é como funciona.</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="features-item">
              <div class="features-icon"><span class="icon-lifesaver"></span></div>
              <h3 class="features-title font-alt">Suporte dedicado</h3>
              <p>Design cria cultura. Cultura molda valores. Valores determinam o futuro.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <hr class="divider-w">
    <section class="module bg-dark-60" data-background="{% static 'images/video.jpg' %} ">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="video-box">
              <div class="video-box-icon"><a class="video-pop-up" href="#"><span class="icon-video"></span></a></div>
              <div class="video-title font-alt">Apresentação</div>
              <div class="video-subtitle font-alt">Vídeo sobre nosso novo design</div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <hr class="divider-w">
    <section class="module-small bg-dark">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-8 col-lg-6 col-lg-offset-2">
            <div class="callout-text font-alt">
              <h3 class="callout-title">Quer ver mais trabalhos</h3>
              <p>Estamos sempre abertos a designs interessantes.</p>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-2">
            <div class="callout-btn-box"><a class="btn btn-w btn-round" href="#">Vamos ver portfólio</a></div>
          </div>
        </div>
      </div>
    </section>
    <hr class="divider-w">
    <section class="module" id="alt-features">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <h2 class="module-title font-alt">Nossos recursos</h2>
            <div class="module-subtitle font-serif">Uma serenidade admirável tomou conta de toda a minha alma, como estas doces manhãs de primavera que desfruto com todo o coração.</div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="alt-features-item">
              <div class="alt-features-icon"><span class="icon-strategy"></span></div>
              <h3 class="alt-features-title font-alt">arte arquitetônica</h3>Uma serenidade maravilhosa tomou conta de toda a minha alma como essas doces manhãs.
            </div>
            <div class="alt-features-item">
              <div class="alt-features-icon"><span class="icon-tools-2"></span></div>
              <h3 class="alt-features-title font-alt">Desenvolvimento</h3>Uma serenidade maravilhosa tomou conta de toda a minha alma como essas doces manhãs.
            </div>
            <div class="alt-features-item">
              <div class="alt-features-icon"><span class="icon-target"></span></div>
              <h3 class="alt-features-title font-alt">Marketing</h3>Uma serenidade maravilhosa tomou conta de toda a minha alma como essas doces manhãs.
            </div>
            <div class="alt-features-item">
              <div class="alt-features-icon"><span class="icon-tools"></span></div>
              <h3 class="alt-features-title font-alt">Design</h3>Uma serenidade maravilhosa tomou conta de toda a minha alma como essas doces manhãs.
            </div>
          </div>
          <div class="col-md-6 col-lg-6 hidden-xs hidden-sm">
            <div class="alt-services-image align-center"><img src="{% static 'images/features.jpg' %}" alt="Feature Image"></div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="alt-features-item">
              <div class="alt-features-icon"><span class="icon-camera"></span></div>
              <h3 class="alt-features-title font-alt">futura indústria</h3>Uma serenidade maravilhosa tomou conta de toda a minha alma como essas doces manhãs.
            </div>
            <div class="alt-features-item">
              <div class="alt-features-icon"><span class="icon-mobile"></span></div>
              <h3 class="alt-features-title font-alt">Inteligência artificial</h3>Uma serenidade maravilhosa tomou conta de toda a minha alma como essas doces manhãs.
            </div>
            <div class="alt-features-item">
              <div class="alt-features-icon"><span class="icon-linegraph"></span></div>
              <h3 class="alt-features-title font-alt">Comunidade</h3>Uma serenidade maravilhosa tomou conta de toda a minha alma como essas doces manhãs.
            </div>
            <div class="alt-features-item">
              <div class="alt-features-icon"><span class="icon-basket"></span></div>
              <h3 class="alt-features-title font-alt">Educação</h3>Uma serenidade maravilhosa tomou conta de toda a minha alma como essas doces manhãs.
            </div>
          </div>
        </div>
      </div>
    </section>
    <hr class="divider-w">
    <div class="module-small bg-dark">
      <div class="container">
        <div class="callout-text font-alt text-center">
          <h3 class="callout-title">Nós estaremos lá.</h3>
          <p>Nós sempre recebemos você</p>
        </div>
      </div>
    </div>
    <hr class="divider-w">
    <section class="module" id="contact">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <h2 class="module-title font-alt">Entrar em contato</h2>
            <div class="module-subtitle font-serif"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <form id="contactForm" role="form" method="post" action="#">
              <div class="form-group">
                <label class="sr-only" for="name">Name</label>
                <input class="form-control" type="text" id="name" name="name" placeholder="Your Name*" required="required" data-validation-required-message="Please enter your name."/>
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <label class="sr-only" for="email">Email</label>
                <input class="form-control" type="email" id="email" name="email" placeholder="Your Email*" required="required" data-validation-required-message="Please enter your email address."/>
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <textarea class="form-control" rows="7" id="message" name="message" placeholder="Your Message*" required="required" data-validation-required-message="Please enter your message."></textarea>
                <p class="help-block text-danger"></p>
              </div>
              <div class="text-center">
                <button class="btn btn-block btn-round btn-d" id="cfsubmit" type="submit">Submit</button>
              </div>
            </form>
            <div class="ajax-response font-alt" id="contactFormResponse"></div>
          </div>
        </div>
      </div>
    </section>
    <hr class="divider-d">
    <!-- <footer class="footer bg-dark">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <p class="copyright font-alt">&copy; 2023&nbsp;<a href="/">Obrasnet</a></p>
          </div>
          <div class="col-sm-6">
            <div class="footer-social-links"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a>
            </div>
          </div>
        </div>
      </div>
    </footer> -->
    {% include 'layouts/footer.html' %}
</div>
{% endblock %}