{% extends 'layouts/app.html' %}

{% load static %}

{% block content %}
<style type="text/css">
    .messages {
        font-size: 9px;
        font-style: italic; 
    }
</style>
<div class="main">
    <section class="module-small bg-dark">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-3">
                <div class="row">
                    <div>
                        <img
                            {% if expert.image is None %} 
                            src="{% static 'upload/experts/empty_expert.png' %}"
                            {% else %}
                            src = "{% static 'upload/experts/' %}/{{expert.image}}"
                            {% endif %} 
                            alt="Portfolio Item"
                            style="width: 100%;"
                        />
                    </div>
                    <div>
                        <div class="work-details">
                            <h4 class="text-center">
                                {{ expert.name }}   -    {{expert.position}}
                            </h4>
                            <ul>
                            <li><strong>Client: </strong><span class="font-serif"><a href="#" target="_blank">SomeCompany</a></span>
                            </li>
                            <li><strong>Date: </strong><span class="font-serif"><a href="#" target="_blank">19 May, 2023</a></span>
                            </li>
                            <li><strong>Online: </strong><span class="font-serif"><a href="#" target="_blank">www.example.com</a></span>
                            </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-7" style="height: 90vh;">
                <div class="module bg-dark-30" style="height: 750px; overflow-y: auto;" id="id_content">
                    
                </div>
                <form action="#" class="form">
                    <div class="row">
                        <br>
                        <div class="form-group col-sm-10">
                            <input type="text" name="message" id="message" class="form-control input-lg" placeholder="Send Message...">
                        </div>
                        <div class="col-sm-2 text-right">
                            <button type="submit" class="btn btn-primary btn-lg btn-round btn-block" id="send_btn">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <hr class="divider-d">
    {% include 'layouts/footer.html' %}
</div>
{% endblock %}

{% block scripts %}
<script type="application/json" id="json-roomname">
    {"expert": "{{ expert.id }}", "user": "{{ user.id }}"}
</script>

<script>
    const send_message = function(message, time) {
        html = '';
        html += '<div class="col-sm-4 col-sm-offset-8">';
        html += '<div class="alert alert-info">';
        html += message;
        html += '<span class="text-right messages">';
        html += time;
        html += '</span>';
        html += '</div>';
        html += '</div>';

        return html;
    }

    const receive_message = function(message, time) {
        html = '';
        html += '<div class="col-sm-4">';
        html += '<div class="alert alert-success">';
        html += message;
        html += '<span class="text-right messages">';
        html += time;
        html += '</span>';
        html += '</div>';
        html += '</div>';

        return html;
    }

    const expert_id = JSON.parse(document.getElementById('json-roomname').textContent).expert;
    const user_id = JSON.parse(document.getElementById('json-roomname').textContent).user;

    // const chatSocket = new WebSocket(
    //     'ws://'
    //     + window.location.host
    //     + '/ws/'
    //     + expert_id
    //     + '/'
    //     + user_id
    //     + '/'
    // );

    // chatSocket.onmessage = function(e) {
    //     console.log('onmessage');
    // }

    // chatSocket.onclose = function(e) {
    //     console.log("onclose");
    // }

    let messages = [
        'Hello',
        'Fine, thank you. and you?',
        'I am preparing template for the project.',
        'Thank you.',
        'See you soon',
        'Bye'
    ];

    let count = 0;
    
    $(document).ready(function() {
        $('#send_btn').click(function(e) {
            e.preventDefault();

            let message = $('#message').val();
            let date = new Date();
            let time = date.getHours()+":"+date.getMinutes();

            let html = send_message(message, time);

            $('#id_content').append(html);

            $('#message').val('');

            let t1 = setInterval(function() {
                date = new Date();
                html = receive_message(messages[count], date.getHours()+":"+date.getMinutes());
                $('#id_content').append(html);
                count++;
            }, 3000);

            let t2 = setTimeout(function() {
                clearInterval(t1)
            }, 5000);
        });
    });

    // document.getElementById('send_btn').addEventListener('click', function (e) {
    //     e.preventDefault();

    //     let message = document.getElementById('message').value;
    //     let time = Date.now("Y-m-d H:i:s");

    //     let html = send_message(message, time);

    //     document.getElementById('id_content').appendChild(html);

    //     document.getElementById('message').value = '';
        
    //     let t1 = setInterval(function() {
    //         html += receive_message('Hello.', Date.now("Y-m-d H:i:s"));
    //         document.getElementById('id_content').innerHTML = html;
    //     }, 3000);

    //     settimeout(clearInterval(t1), 4000);

    //     // t1 = setInterval(function() {
    //     //     html += receive_message('Fine, thank you. and you?', Date.now("Y-m-d H:i:s"));
    //     //     document.getElementById('id_content').innerHTML = html;
    //     // }, 10000);

    //     // settimeout(clearInterval(t1), 11000);
    // });

</script>
{% endblock %}